:root {
    --primary-ff: 'Inter', sans-serif;

    --light-clr: #FFFFFF;
    --med-clr: #A5A5A5;
    --med-clr2: #4B4B4B; 
    --med-clr3: #787878;
    --dark-clr: #121212;
    --dark-clr2: #2E2E2F;
    --star-clr: #FEC654;
    --hr-clr: #2C2C2C; 

    --header-bg: linear-gradient(rgba(0, 0, 0, .4), rgba(0, 0, 0, .4)), url('../assets/images/header-bg.jpg') center/cover no-repeat;
}