:root {
    --primary-font: 'Poppins', sans-serif;

    --accent-clr: #FFE7EF;
    --accent-clr2: #DBFFF4;
    --light-clr: #fff;
    --light-clr2: #f8f8f8;
    --accent-clr3: #ff0000;
    --med-clr: #B7B7B7;
    --dark-clr: #252525;

    --default-bs: 0px 10px 20px #E9E9EA;
    --accent-bs: 0px 10px 20px #EDD9DF;
    --accent-bs2: 0px 10px 20px #CCF1E6;

    --light-gradient: linear-gradient(180deg, #FFFFFF 0%, #F6F7FB 100%);
    --dark-gradient: linear-gradient(0deg, rgba(0, 0, 0, 0.9) -11.44%, rgba(0, 0, 0, 0) 39.97%);
}