@forward './global';
@forward './layout';
@use './util' as u;

header {
    min-height: u.toRem(208);
    padding: u.toRem(82.45) 0;
    background: var(--header-bg);

    @include u.breakpoint('medium'){
        min-height: u.toRem(300);
    }

    .header-content {

        @include u.breakpoint('medium'){
            flex-direction: row;
            justify-content: space-between;
        }

        h1 {
            margin-bottom: u.toRem(20);
            @include u.breakpoint('medium'){
                margin-bottom: 0;
            }
        }
    
        a {
            text-decoration: none;

            &:hover {
                color: var(--med-clr);
            }
        }
    
        h1, a{
            color: var(--light-clr);
        }
    }
}

main {
    min-height: 67vh;
}