@use '../util' as u;

.link-btn {
    width: u.toRem(115);
    text-align: center;
    padding: u.toRem(9) u.toRem(13);
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.05);
    border-radius: 6px;

    &:hover, &:active, &:focus {
        background-color: var(--dark-clr2);
        color: var(--accent-clr);
    }

    &:focus {
        outline: solid 2px var(--accent-clr);
    }

    .icon {
        font-size: clamp(u.toRem(16), 2vw, u.toRem(18));
    }

}

.white-btn {
    background-color: var(--light-clr);
    border: 1px solid var(--light-clr2);
    color: var(--dark-clr);

    &:hover, &:active, &:focus {
        border: 1px solid var(--dark-clr2);
    }
}

.blue-btn {
    color: var(--light-clr);
    background-color: var(--accent-clr);
}

.link-btn, .white-btn, .blue-btn {
    cursor: pointer;
    transition: background-color,color .3s ease-in-out;
}