:root {
    --primary-font: 'Inter', sans-serif;

    --light-clr: #fff;
    --light-clr2: #F5F5F5;
    --light-clr3: #D1D5DB;
    --med-clr: #DCDCDC;
    --med-clr2: #918E9B;
    --accent-clr: #5093E2;
    --accent-clr2: #F3BF99;
    --dark-clr: #1E1F26;
    --dark-clr2: #23252C;
    --dark-clr3: #1A1B21;
    --dark-clr4: #374151;
    --dark-clr5: #161619;
}