@use '../util' as u;

.container {
    width: min(95%, u.toRem(800));
    margin: 0 auto;
}

.flex-between {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.flex-center {
    display: flex;
    align-items: center;
    justify-content: center;
}