:root {
    --primary-font: 'Inter', sans-serif;
    --secondary-font: 'Karla', sans-serif;

    --light-clr: #eeeceb;
    --accent-clr: #BD5532;
    --dark-clr: #000;
    --gradient-clr: rgba(0, 0, 0, .6);
    --trivia-bg: linear-gradient(var(--gradient-clr), var(--gradient-clr)), url('../assets/images/trivia-bg.jpg') center/cover no-repeat;
}