@use '../util' as u;

h1, h2, h3, h4, a, p, span {
    margin-top: 0;
}

h1 {
    font-weight: 500;
    font-size: clamp(u.toRem(14.46), 2vw, u.toRem(16.46));
    line-height: u.toRem(18);
    letter-spacing: -0.075em;
}

h2 {
    font-weight: 700;
    font-size: clamp(u.toRem(25), 2vw, u.toRem(27));
    line-height: u.toRem(30.26);
}