:root {
    --primary-font: 'Inter', sans-serif;

    --light-clr: #fff;
    --light-clr2: #F5F5F5;
    --accent-clr: #F55A5A;
    --accent-clr2: #F3BF99;
    --med-clr: #918E9B;
    --dark-clr: #2B283A;
}