:root {
    --primary-font: 'Inter', sans-serif;
    
    --light-clr: #fff;
    --light-clr2: #2CBDAC;
    --accent-clr: #1F8B7E;
    --med-clr: #273549;
    --dark-clr: #1b1b22;
    --dark-clr2: #1F2937;
    --gradient-clr: #183A45;
    --gradient-clr2: #05041F;
    --bg-gradient: linear-gradient(104.68deg, #183A45 0.51%, #05041F 100%);
}